<!doctype html>
<html ng-app="a4_4">
<head>
    <title>标记式注入</title>
    <script src="../Script/angular.min.js"
            type="text/javascript"></script>
    <style type="text/css">
        body {
            font-size: 12px;
        }

        .show {
            margin: 10px 0px;
        }
    </style>
</head>
<body>
    <div ng-controller="c4_4">
        <div class="show">{{text}}</div>
        <input id="btnShow" type="button" value="弹出"
               ng-click="onShow('我是一个弹出对话框')" />
        <input id="btnWrite" type="button" value="显示"
               ng-click="onWrite('今天天气有点冷啊！')" />
    </div>
    <script type="text/javascript">
        var c4_4 = function ($scope, $show, $write) {
            $scope.onShow = function (msg) {
                $show.show(msg);
            }
            $scope.onWrite = function (msg) {
                $scope.text = $write.write(msg);
            }
        }
        c4_4.$inject = ['$scope', '$show', '$write'];
        angular.module('a4_4', [])
            .controller('c4_4', c4_4)
            .factory('$show', ['$window', function ($window) {
                return {
                    show: function (text) {
                        $window.alert(text);
                    }
                };
            }])
            .factory('$write', function () {
                return {
                    write: function (text) {
                        return text;
                    }
                };
            });
    </script>
</body>
</html>
